/* Псевдоэлементы CSS
Псевдоэлементы могут обратиться к содержимому или к части содержимого объекта, 
а также добавить к объекту новые элементы.

Синтаксис записи псевдоэлементов похож с псевдоклассами.

::first-line{}-задает стиль первой строки текста
::first-letter{}-задает стиль первого символа
::Before{
content:’ ’;-применяется для отображения желаемого контента до содержимого 
}                 элемента, к которому он добавляется

::After{
content:’ ’;- применяется для отображения желаемого контента после  
}                  содержимого элемента, к которому он добавляется */

.text {
	font-size: 24px;
	line-height: 33px;
	margin: 0px 0px 30px 0px;
}
.text:first-line{
	color: green;
}
.text:first-letter{
	color: red;
	font-size: 50px;
}
.list {}

.list li{
	list-style-type: none;
	font-size: 24px;
	margin: 0px 0px 20px 0px;
}
.list li:before{
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: red;
	display: inline-block;
	margin: 0px 10px 0px 0px;
}
.list li:hover:before{
	background-color: yellow;
}
